---
layout       : page
title        : '> Test'
nav          : false
nav-dev      : true
icon         : false
data         : priest
---

<div class="container-fluid">

{%- comment -%}

  <div class="row">
    <div class="col">

      {%- assign texty = "100gold2silver99copper" -%}
      {{- texty | replace: "gold", gold | replace: "silver", silver | replace: "copper", copper -}}

      <br>

      {%- if jekyll.environment == "production" -%}
        This can only be seen in production!
      {%- else -%}
        This can only be seen in development!
      {%- endif -%}

    </div>
  </div>

  <div class="row no-gutters">
    {%- for spell in site.data.priest.spells -%}
      {%- capture image -%}{{- site.baseurl -}}/src/images/icons/spells/{{- spell.icon -}}.png{%- endcapture -%}
      {%- capture cost -%}{{- spell.cost | replace: "gold", gold | replace: "silver", silver | replace: "copper", copper -}}{%- endcapture -%}
      <div class="col">

        <div class="testcontainer">
          <div class="testicon">
            <a href="https://classic.wowhead.com/spell={{- spell.id -}}" data-wowhead="spell={{- spell.id -}}" target="_blank">
              <ins style="background-image: url('{{- image -}}');"></ins>
              <del></del>
            </a>
          </div>
          <div class="testcost">
            <p>{{- cost -}}</p>
          </div>
        </div>

      </div>
    {%- endfor -%}
  </div>

  <div class="row">
    <div class="col">

      <div class="accordion" id="accordionExample">
        <div class="card">
          <div class="card-header" id="headingOne">
            <h2 class="mb-0">
              <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                Collapsible Group Item #1
              </button>
            </h2>
          </div>

          <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
            <div class="card-body">
              Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingTwo">
            <h2 class="mb-0">
              <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                Collapsible Group Item #2
              </button>
            </h2>
          </div>
          <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
            <div class="card-body">
              Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingThree">
            <h2 class="mb-0">
              <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                Collapsible Group Item #3
              </button>
            </h2>
          </div>
          <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
            <div class="card-body">
              Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

{%- endcomment -%}
{%- comment -%}

  <div class="row">
    <div class="col">

      {%- include icons/icon-level.html level="1" totalcost="10copper" -%}

      {%- include icons/icon-spell.html id="1243" image="Spell_Holy_WordFortitude" cost="10copper" -%}

    </div>
  </div>

  <div class="row">
    <div class="col">

      {%- include icons/icon-level.html level="4" totalcost="2silver" -%}

      {%- include icons/icon-spell.html id="2052" image="Spell_Holy_LesserHeal" cost="1silver" -%}
      {%- include icons/icon-spell.html id="589" image="Spell_Shadow_ShadowWordPain" cost="1silver" -%}

    </div>
  </div>

  <div class="row">
    <div class="col">

      {%- include icons/icon-level.html level="6" totalcost="2silver" -%}

      {%- include icons/icon-spell.html id="17" image="Spell_Holy_PowerWordShield" cost="1silver" -%}
      {%- include icons/icon-spell.html id="591" image="Spell_Holy_HolySmite" cost="1silver" -%}

    </div>
  </div>

  <div class="row">
    <div class="col">

      {%- include icons/icon-level.html level="8" totalcost="4silver" -%}

      {%- include icons/icon-spell.html id="139" image="Spell_Holy_Renew" cost="2silver" -%}
      {%- include icons/icon-spell.html id="586" image="Spell_Magic_LesserInvisibilty" cost="2silver" -%}

    </div>
  </div>

  <div class="row">
    <div class="col">

      {%- include icons/icon-level.html level="10" totalcost="12silver" -%}

      {%- include icons/icon-spell.html id="2053" image="Spell_Holy_LesserHeal" cost="3silver" -%}
      {%- include icons/icon-spell.html id="2006" image="Spell_Holy_Resurrection" cost="3silver" -%}
      {%- include icons/icon-spell.html id="8092" image="Spell_Shadow_UnholyFrenzy" cost="3silver" -%}
      {%- include icons/icon-spell.html id="594" image="Spell_Shadow_ShadowWordPain" cost="3silver" -%}

    </div>
  </div>

  <div class="row">
    <div class="col">

      {%- include icons/icon-level.html level="12" totalcost="24silver" -%}

      {%- include icons/icon-spell.html id="588" image="Spell_Holy_InnerFire" cost="8silver" -%}
      {%- include icons/icon-spell.html id="1244" image="Spell_Holy_WordFortitude" cost="8silver" -%}
      {%- include icons/icon-spell.html id="592" image="Spell_Holy_PowerWordShield" cost="8silver" -%}

    </div>
  </div>

{%- endcomment -%}




  <div class="row">
    <div class="col">

<pre>
{{ site.data[page.data].spells }}
</pre>


  {%- for spells in site.data[page.data].spells -%}
    <div class="row no-gutters">

{%- comment -%}
need to know totalcost before adding it to icon-level
{%- endcomment -%}

{%- comment -%} {% assign total = total | plus: spells.amount %} {%- endcomment -%}
{%- comment -%} {{ total }} {%- endcomment -%}


      {%- assign total = 0 -%}

      {%- for spell in spells.spells -%}
        {% assign total = total | plus: spell.amount %}
      {%- endfor -%}



      {%- include test/icon-level.html level=spells.level totalcost=spells.totalcost total=total -%}

      <div class="col">
        {%- for spell in spells.spells -%}
          {%- include test/icon-spell.html id=spell.id image=spell.icon cost=spell.cost rank=spell.rank source=spell.source races=spell.races amount=spell.amount -%}
        {%- endfor -%}
      </div>

      </div>
  {%- endfor -%}




    </div>
  </div>




  <div class="row">
    <div class="col">
      &nbsp;
    </div>
  </div>
  <div class="row">
    <div class="col">
      <hr>
    </div>
  </div>
  <div class="row">
    <div class="col">
      &nbsp;
    </div>
  </div>





  <div class="row">
    <div class="col">
      {%- include icons/icon-button.html link="#" text="All" -%}

      {%- for races in site.data[page.data].races -%}
        {%- assign race = races[0] -%}
        {%- assign enable = races[1] -%}

        {%- include icons/icon-race.html race=race enabled=enable -%}
      {%- endfor -%}
    </div>
  </div>

  <div class="row">
    <div class="col">
      {%- include icons/icon-button.html link="#" text="All" -%}

      {%- for specialization in site.data[page.data].specializations -%}
        {%- comment -%} {%- assign race = races[0] -%} {%- endcomment -%}
        {%- comment -%} {%- assign enable = races[1] -%} {%- endcomment -%}

        {%- comment -%} {%- include icons/icon-race.html race=race disabled=enable -%} {%- endcomment -%}
        {%- include icons/icon-specialization.html image=specialization.icon name=specialization.name enabled=true -%}
      {%- endfor -%}

      {%- comment -%} {%- include icons/icon-talent.html image="Spell_Holy_WordFortitude" talent-tree="Discipline" disabled=false -%}
      {%- include icons/icon-talent.html image="Spell_Holy_HolyBolt" talent-tree="Holy" disabled=false -%}
      {%- include icons/icon-talent.html image="Spell_Shadow_ShadowWordPain" talent-tree="Shadow" disabled=false -%} {%- endcomment -%}
    </div>
  </div>

  <div class="row">
    <div class="col">
      {%- include icons/icon-button.html link="#" text="Show rank" -%}
      {%- include icons/icon-button.html link="#" text="Hide rank" -%}
    </div>
  </div>

  <div class="row">
    <div class="col">
      {%- include icons/icon-button.html link="#" text="All" -%}

      {%- include icons/icon-button.html link="#" text="Book" -%}
      {%- include icons/icon-button.html link="#" text="Trainer" -%}
      {%- include icons/icon-button.html link="#" text="Talent" -%}
    </div>
  </div>

  <div class="row">
    <div class="col">
      &nbsp;
    </div>
  </div>

  <div class="row">
    <div class="col">
      <span>Grand total: {% include cost.html cost="999gold999silver999copper" %}</span>
    </div>
  </div>

  {%- for spells in site.data[page.data].spells -%}
    <div class="row no-gutters">
      {%- include icons/icon-level.html level=spells.level totalcost=spells.totalcost -%}

      <div class="col">
        {%- for spell in spells.spells -%}
          {%- include icons/icon-spell.html id=spell.id image=spell.icon cost=spell.cost rank=spell.rank source=spell.source races=spell.races -%}
        {%- endfor -%}
      </div>

      </div>
  {%- endfor -%}

</div>
