---
layout       : default
title        : Home
nav          : false
nav-dev      : false
icon         : false
---

<section class="page page-home">
  <div class="container">

    <div class="row">
      <div class="col-xs-12 text-center">

        News on this page or something?

      </div>
    </div>

  </div>
</section>
