<div class="icon-container">
  <div class="icon">
    <div class="icon-border"></div>
    <div class="icon-text icon-level">
      <span>{{- include.level -}}</span>
    </div>
  </div>
  <div class="icon-cost">
    <span>{%- include cost.html cost=include.totalcost -%}</span>
  </div>
  <div class="icon-cost">
    <span>{{ total: include.total }}</span>
  </div>
</div>
