<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>
    {%- if page.title == "Home" -%}
      {{ site.title }} {% if site.tagline %}- {{ site.tagline }}{%- endif -%}
    {%- else -%}
      {{ page.title }} - {{ site.title }}
    {%- endif -%}
  </title>

  <!-- CSS -->
  {%- if site.versions.google_fonts -%}<link rel="stylesheet" href="//fonts.googleapis.com/css?family={{- site.versions.google_fonts -}}">{%- endif -%}
  {%- if site.versions.font_awesome -%}<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/{{- site.versions.font_awesome -}}/css/all.min.css">{%- endif -%}
  <link rel="stylesheet" href="{{- site.folders.css | prepend: site.baseurl -}}/main.css?{{- site.time | date: site.date_formats.timestamp -}}">

  <!-- Icons -->
  <link rel="apple-touch-icon" sizes="180x180" href="{{- site.folders.favicon | prepend: site.baseurl -}}/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="{{- site.folders.favicon | prepend: site.baseurl -}}/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="{{- site.folders.favicon | prepend: site.baseurl -}}/favicon-16x16.png">
  <link rel="manifest" href="{{- site.folders.favicon | prepend: site.baseurl -}}/site.webmanifest">
  <link rel="mask-icon" href="{{- site.folders.favicon | prepend: site.baseurl -}}/safari-pinned-tab.svg" color="#5bbad5">
</head>
