<nav class="navbar navbar-expand-lg navbar-dark fixed-top custom-bg-dark">
  <a href="{{- site.baseurl -}}/" class="navbar-brand">{{- site.title -}}</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      {%- include navigation-data.html -%}
    </ul>
  </div>
</nav>
