// TODO:s
// - Convert all px to rem
// - Rename .test* to better ones

body {
  padding-top: 6.5rem;
}

// Colors

.custom-bg-dark {
  background-color: $color-gray-dark;
}

// Navication

.nav-icon {
  width: 20px;
  height: 20px;
  border: 1px solid black;
  margin-top: -3px;
  margin-right: 3px;
}

// Icons

.icon-container {
  float: left;
  margin-right: 10px;

  .icon {
    width: 68px;
    height: 68px;
    position: relative;
    z-index: 0;

    a {
      width: 62px;
      height: 62px;
      top: 3px;
      left: 3px;
      display: inline-block;
      position: absolute;
      z-index: 20;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }

    a.disabled {
      pointer-events: none;
    }

    a:hover {
      width: 62px;
      height: 62px;
      top: 3px;
      left: 3px;
      display: inline-block;
      position: absolute;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      background-image: url($image-border-highlight);
      z-index: 20;
    }

    .icon-image {
      width: 56px;
      height: 56px;
      top: 6px;
      left: 6px;
      padding-top: 5px;
      display: inline-block;
      position: absolute;
      z-index: 5;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }

    .icon-image-disabled {
      filter: grayscale(100%);
    }

    .icon-border {
      width: 100%;
      height: 100%;
      // top: -60px;
      background-image: url(/wow-classic/src/images/icons/borders/large.png);
      display: inline-block;
      position: absolute;
      z-index: 10;
      background-repeat: no-repeat;
    }

    .icon-text {
      width: 100%;
      height: 100%;
      text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
      display: inline-block;
      position: absolute;
      z-index: 25;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      pointer-events: none;

      &.icon-level {
        font-size: 2rem;
        text-align: center;
        padding-top: 8px;
      }

      &.icon-race {
        top: 4px;
        left: 2px;
        font-style: italic;

        font-size: 0.6rem;
        text-align: left;
      }

      &.icon-rank {
        top: 4px;
        right: 2px;

        font-size: 0.6rem;
        text-align: right;
      }

      &.icon-source,
      &.icon-specializations,
      &.icon-races {
        width: 100%;
        height: 100%;
        // top: -203px;
        // padding: 0 10px 5px 0;

        font-size: 0.6rem;
        text-align: right;

        span {
          position: absolute;
          bottom: 6px;
          right: 0;
        }
      }
    }
  }

  .icon-cost {
    text-align: right;
    font-size: 0.9rem;

    img {
      margin-top: -3px;
    }
  }
}

// Bootstrap overrides

.row {
  @extend .row;

  margin-bottom: 10px;
}

// Testing

svg {
  width: 100%;
  height: 0.8rem;
}

svg text {
  fill: white;
  stroke-width: 2px;
  paint-order: stroke;
  stroke: black;
}
