<div class="icon-container">
  <div class="icon">
    <div class="icon-image" style="background-image: url('{{- site.folders.spells | prepend: site.baseurl -}}/{{- include.image -}}.png');"></div>
    <div class="icon-border"></div>
    <a href="https://classic.wowhead.com/spell={{- include.id -}}" data-wowhead="spell={{- include.id -}}" target="_blank"></a>
    <span class="icon-text icon-race">
      {%- for races in include.races -%}
        {%- if races[1] -%}
          {%- capture name -%}
            {%- case races[0] -%}
              {%- when "nightelf" -%}
                Night elf
              {%- else -%}
                {{ races[0] | capitalize }}
            {%- endcase -%}
          {%- endcapture -%}

          <span><div class="element"><svg><text x="10%" y="70%" text-anchor="start">{{ name }}</text></svg></div></span>
        {%- endif -%}
      {%- endfor -%}
    </span>
    {%- if include.rank > 0 -%}
      <span class="icon-text icon-rank">
        <span><div class="element"><svg><text x="90%" y="70%" text-anchor="end">{{ include.rank }}</text></svg></div></span>
      </span>
    {%- endif -%}
    <span class="icon-text icon-source">
      <span><div class="element"><svg><text x="87%" y="75%" text-anchor="end">{{ include.source | capitalize }}</text></svg></div></span>
    </span>

  </div>
  <div class="icon-cost">
    <span>{%- include cost.html cost=include.cost -%}</span>
  </div>
</div>
