<div class="icon-container">
  <div class="icon">
    <div class="icon-image {% unless include.enabled %}icon-image-disabled{% endunless %}" style="background-image: url('{{- site.folders.spells | prepend: site.baseurl -}}/{{- include.image -}}.png');"></div>
    <div class="icon-border"></div>
    <a href="#"></a>
    <span class="icon-text icon-specializations">
      <span><div class="element"><svg><text x="87%" y="75%" text-anchor="end">{{ include.name }}</text></svg></div></span>
    </span>
  </div>
</div>
