<div class="icon-container">
  <div class="icon">
    {%- if include.image -%}
      <div class="icon-image" style="background-image: url('{{- site.folders.gui | prepend: site.baseurl -}}/{{- include.image -}}.png');"></div>
    {%- endif -%}
    <div class="icon-border"></div>
    <a href="{{ include.link }}"></a>
    {%- if include.text -%}
      <div class="icon-text icon-level">
        <span>{{- include.text -}}</span>
      </div>
    {%- endif -%}
  </div>
</div>
